# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/
*.egg-info/

# Jupyter
*.nbconvert.ipynb

# Datos y resultados pesados
data/
datasets/
*.csv
*.parquet
*.xlsx
*.zip
*.gz
*.pkl
outputs/
models/
figures/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
